* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}
.Firstcontainer {
    padding: 50px 25px;
    display: flex;
    align-items: center;
    row-gap: 50px;
    justify-content: space-evenly;
}
 .Firstcontainer div{
      width: 300px;
 }
 .Firstcontainer div p, h1 {
    padding-bottom: 15px;
 }
.h1 {
    color: black;
    text-align: center;
}
.span {
    color: red;
}
.button {
    background-color: red;
    height: 40px;
    width: 105px;
    border-radius:5px;
    color: aqua;
    border: none;
    box-shadow: 0px 2px 11px blueviolet;
    gap: 70px;
    margin-top: 30px;
}
button:hover {
    cursor: default;
    background-color: palevioletred;
    color: aqua;
    transition: background-color 500ms ease-in-out;
}
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .logo div {
        padding: 20px;
    }
   .a {
    height: 150px;
    width: 150px;
    border-radius:5px;
    color: rgb(6, 7, 7);
    border: none;
    box-shadow: 0px 2px 11px blueviolet;
    text-align: center;
   }
   .logo:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: palevioletred;
    transition: background-color 1s linear;
   }
   .First container:hover {
    cursor: pointer;
    background-color: rgb(235, 110, 110);
    color: rgb(90, 63, 72);
    transition: background-color 1s linear;
   }
   @media only screen and (max-width: 500px) {
    .Firstcontainer {
       flex-direction:column;
       column-gap: 20px;
       }
       .Firstcontainer div  {
           text-align: center;
       }
       .logo {
           flex-direction: column;
           row-gap: 10px;
           align-items: center;
       }
       }
   

